<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
# fichier/tableaux
import pandas as pd

# calcul matriciel
import numpy as np
#statistics
import scipy
from scipy import stats
#plot graphique
import matplotlib.pyplot as plt
import seaborn as sns
#Algorithm clustering
from sklearn.cluster import KMeans
from sklearn import decomposition
#Image processing, computer vision
import skimage.data as data
import skimage.segmentation as seg
import skimage.filters as filters
import skimage.draw as draw
import skimage.color as color
import utm
import geopandas as gpd
from arcgis.geoanalytics.summarize_data import aggregate_points

In [10]:
import dask.dataframe as dd
colnames = ['X','Y','Z','R','G','B']
t2 = dd.read_csv('test.txt',sep=' ',names=colnames,header=None)

In [11]:
t2 = t2.head(50000)

In [12]:
a = t2.apply(lambda row: utm.to_latlon(t2.X, t2.Y, 32,'T'),axis=1)

In [13]:
%%time
t2['latitude'] = a[0][0]

t2['longitude'] = a[0][1]
t2.to_csv("/Users/karinepetrus/Desktop/these_pro/Meteo_visualisation/geo_corse_test_dd2.csv")

In [8]:
t2.head()

               X             Y           Z   R   G   B   latitude  longitude
0  492208.220001  4.651216e+06  224.860001  56  62  21  42.012930   8.905897
1  492208.230003  4.651216e+06  224.860001  42  48  18  42.012926   8.905897
2  492208.300003  4.651215e+06  224.770004  43  47  22  42.012924   8.905898
3  492208.190002  4.651209e+06  225.240005  64  71  20  42.012870   8.905897
4  492208.180000  4.651209e+06  225.289993  64  71  22  42.012866   8.905897